<div class="container p-5">
  <div class="row">
    <div class="col-md-12">
      <top-nav-bar></top-nav-bar>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-md-3">
        <side-nav-bar></side-nav-bar>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
        <!-- <teacher-card-list></teacher-card-list> -->
    </div>
  </div>

  <ng2-floating-action-menu
     [placement]="config.placment"
     [effect]="config.effect"
     [label]="config.label"
     [iconClass]="config.iconClass"
     [activeIconClass]="config.activeIconClass"
     [toggle]="config.toggle"
     [buttons]="buttons">
   </ng2-floating-action-menu>
</div>

   