<div class="container">
    <div class="row p-2">
        <div class="col-md-6">
            <div class="card card-image cardButton hoverable cardHover" (click)="requestClick()">
                <div class="text-white  d-flex align-items-center default-color-dark py-5 px-4 ">
                    <div>
                        <h4 class="blue-text"><i class="fa fa-android"></i> Requests</h4>
                        <p>You have 10 new requests</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-image cardButton hoverable cardHover" (click)="requestClick()">
                <div class="text-white  d-flex align-items-center unique-color py-5 px-4">
                    <div>
                        <h4 class="blue-text"><i class="fas fa-chart-pie"></i> Notifications</h4>
                        <p>You have 31 new notifications</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <div class="card card-image cardButton hoverable cardHover" (click)="requestClick()">
                <div class="text-white  d-flex align-items-center secondary-color-dark py-5 px-4">
                    <div>
                        <h4 class="blue-text"><i class="fa fa-android"></i> My Students</h4>
                        <p>You have 15 students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-image cardButton hoverable cardHover" (click)="requestClick()">
                <div class="text-white  d-flex align-items-center stylish-color-dark py-5 px-4">
                    <div>
                        <h4 class="blue-text"><i class="fa fa-android"></i> My Students</h4>
                        <p>You have 15 students</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
