<div class="row mt-5">
    <div class="col-md-12">


        <app-district-chart></app-district-chart>

    </div>

</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h4 class="grey-text text-center mt-4">Latest News</h4>
        <hr>

        <div style="overflow-y: scroll; height:500px;">
            <div *ngFor="let item of news" style="cursor:pointer;">
                <h6 (click)="test.toggle()">{{item.title}}
                    <img src="../../../../../assets/icons/right-arrow.png">
                </h6>

                <div mdbCollapse #test="bs-collapse">
                    <p>{{item.content}}</p>
                    <p>{{item.startDate | date}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>