<div class="border">
  <div class="card-body">
    <h5 class="card-title">Fliter Teachers</h5>
    <hr>
    <section>
      <form>
        <h6><b>Price</b></h6>
        <input type="radio" name="price" class="rightmargin" id="1000">
        <label for="1000">1000 - 2000</label> <br>
        <input type="radio" name="price" class="rightmargin" id="3000">
        <label for="3000">3000 - 5000</label> <br>
        <input type="radio" name="price" class="rightmargin" id="5000">
        <label for="5000">5000 - 10000</label> <br>
        <input type="radio" name="price" class="rightmargin" id="all">
        <label for="all">All</label>
        <hr>
        <h6><b>Time</b></h6>
        <input type="radio" id="day" name="time" class="rightmargin"> 
        <label for="day">Day</label><br>
        <input type="radio" id="night" name="time" class="rightmargin">
        <label for="night">Night</label> <br>
        <input type="radio" name="time" class="rightmargin" id="all">
        <label for="all">All</label><p></p>
        <a class="btn mdb-color lighten-2 white-text btn-sm" (click)="filter()">Submit</a>
      </form>
    </section>
  </div>
</div>