<div class="row">
  <div class="col"></div>
  <div class="col">

    <mdb-carousel [isControls]="true" [animation]="'slide'">

      <mdb-carousel-item>
          <div class="container border pt-3">
              <div class="row">
                <div class="col"></div>
                <div class="col text-center">
                  <img [src]="image"
                    class="rounded-circle" height="100" width="100">
                </div>
                <div class="col"></div>
              </div>
              <div class="row mt-3">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                  <h5><strong>My Achievements</strong></h5>
                </div>
                <div class="col-md-1"></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <p class="text-center">This is my achievements</p>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
      </mdb-carousel-item>

      
      <mdb-carousel-item *ngFor="let item of achievements">
        <div class="container border pt-3">
          <div class="row">
            <div class="col"></div>
            <div class="col text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Enabling_eCommerce-_Small_Enterprises%2C_Global_Players_%2839008130265%29_%28cropped%29.jpg/220px-Enabling_eCommerce-_Small_Enterprises%2C_Global_Players_%2839008130265%29_%28cropped%29.jpg"
                class="rounded-circle" height="100" width="100">
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
              <h5><strong>{{item.name}}</strong></h5>
            </div>
            <div class="col-md-1"></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <p class="text-center grey-text">{{item.description}}</p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="col"></div>
</div>