<div class="row">
  <div class="col-md-2 p-3">
    <img height="100" width="100" class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQHTeEfPnQywGg/profile-displayphoto-shrink_200_200/0?e=1551916800&v=beta&t=HgxswsATuRjFOAcvUE4pvg0DOv-kBSDR93BezKHmVUo"
      alt="">
  </div>
  <div class="col-md-10 p-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rerum harum provident similique doloremque maiores
      voluptatem inventore omnis quidem. Voluptate consequatur eligendi corrupti error nisi modi obcaecati, fuga earum
      fugit.</p>

      <div class="row float-right pr-4">
        <button class="btn btn-sm btn-success">accept</button>
        <button class="btn btn-sm btn-danger">Reject</button>
      </div>
  </div>
</div>
<hr>