<div >
  <div class="row pl-5 ml-5 flex-center">
    <div class="col-md-1 p-1">
      <img height="50" width="50" class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQHTeEfPnQywGg/profile-displayphoto-shrink_200_200/0?e=1551916800&v=beta&t=HgxswsATuRjFOAcvUE4pvg0DOv-kBSDR93BezKHmVUo"
        alt="">
    </div>
    <div class="col-md-7 p-1">
      <p>
        <strong>{{requestObject.student}}</strong> requested a class from you on <strong>{{requestObject.sent_date |
          date}}</strong>
        for <strong>{{requestObject.subject}}</strong> on <strong>{{requestObject.day}}</strong> at <strong>{{requestObject.location}}</strong>
      </p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-success" (click)="acceptReq()">Accept</button>
      <button class="btn btn-sm btn-danger" (click)="rejectReq()">Reject</button>
    </div>
  </div>
  <hr>
</div>