<div *ngFor="let item of reqests">
    <div class="card hoverable">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="" alt="">
            </div>
            <div class="col-md-8">
              <ul>
                <li>Subject - </li>
                <li>Day - </li>
                <li>Location -</li>
              </ul>
            </div>
          </div>
          <div class="row float-right">
            <div>
              <button class="btn btn-success">Accept</button>
              <button class="btn btn-danger">Reject</button>
            </div>
          </div>
        </div>
      </div>
  <p></p>
</div>


