<button type="button" mdbBtn color="yellow" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  mdbWavesEffect>
  <i class="fa fa-book" aria-hidden="true"></i>
  {{subjectButtonValue}}
</button>

<div mdbModal #frame="mdbModal" class="modal fade top modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

            <button
            (click)="onLocationClicked(item)"
            (click)="frame.hide()"
            *ngFor = "let item of subjectsF" 
            class="btn btn-sm btn-green">
                {{item}}
            </button>  

        </div>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <button class="btn btn-danger btn-sm" (click)="frame.hide()">X</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>