<div class="border hoverable">
    <div class="card-header  white-black grab" [routerLink]="[teacher.email]">
        <h4><b>{{teacher.fname + " " + teacher.lname}}</b></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{teacher.imgURL}}" alt="..." class="mx-auto d-block img-thumbnail image">
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{teacher.subject}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                <div class="row">
                    <div class="col-md-5">
                        <div *ngIf="isLogged">
                            <app-request [teacherId]="teacher.email"></app-request>
                        </div>
                        <div *ngIf="!isLogged">
                            <button class="btn btn-sm disabled">Send Request</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<p></p>