<div class="border hoverable rounded">
    <div class="card-header white-black  grab " [routerLink]="[teacher.email]">
        <h4>
            <img src="../../../../../../assets/icons/tutor.png" class="mr-3">
            <span><b> {{teacher.fname + " " + teacher.lname}} </b></span>
            <span class="float-right">
                <img src="../../../../../../assets/icons/star.png" class="mr-2">
                <p class="float-right pt-1"> <b> {{teacher.rate}} </b> </p>
            </span>

        </h4>
    </div>
    <div class="card-body {{packageCss}}">
        <div class="row">
            <div class="col-md-4">
                <img src="{{teacher.imgUrl}}" alt="..." class="mx-auto d-block img-thumbnail image">
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{teacher.subject}}</h5>
                <p class="card-text">{{teacher.description}}</p>

                <div class="row">
                    <div class="col-md-5">
                        <p>Price: {{teacher.price}}</p>
                        <div *ngIf="isLogged">
                            <app-request [teacherId]="teacher.email"></app-request>
                        </div>
                        <div *ngIf="!isLogged">
                            <button class="btn btn-sm disabled">Send Request</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<p></p>