<div>
    <div class="row flex-center pt-3">
      <div class="col-md-2" style="text-align:center">
        <img height="50" width="50" class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQHTeEfPnQywGg/profile-displayphoto-shrink_200_200/0?e=1551916800&v=beta&t=HgxswsATuRjFOAcvUE4pvg0DOv-kBSDR93BezKHmVUo">
      </div>
      <div class="col-md-10">
        <p> <strong>{{studentName}}</strong> is saying : {{content}}</p>
        <p>{{date | date}}</p>
      </div>
    </div>
  </div>
  <hr>