<div class="card hoverable">
    <div class="card-header">
        <h4><b>lskdflsdkjf</b></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h5 class="card-title">sdfjsdhf</h5>
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-sm btn-red">Delete</button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-orange">lkjlckvjd</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>