<div *ngFor="let item of reqests">
    <div class="card hoverable">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    {{item.FirstName}} {{item.LastName}}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-red" (click)="cancelReq(item)">Cancel</button>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>Subject - {{item.subject}}</li>
                    <li>Day - {{item.day}}</li>
                    <li>Location - {{item.location}}</li>
                </ul>
            </div>
        </div>
    </div>
    <p></p>
</div>