<div *ngIf="userSelected">
  <div *ngIf="loginView === 'teacher'" style="margin-top:12%;">
    <app-login-tutor></app-login-tutor>
  </div>

  <div *ngIf="loginView === 'student'" style="margin-top:12%;">
    <app-login-student></app-login-student>
  </div>
</div>

<div *ngIf="!userSelected">

  <div class="container" style="margin-top:14%;">
    <div class="row">
      <div class="col-md-6">

        <div class="card card-image mb-3 animated slideInLeft text-center" style="background-image: url(https://images.pexels.com/photos/1462630/pexels-photo-1462630.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">        
          <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>I'm a Student</strong></h3>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laudantium libero aliquid! Saepe, illo aspernatur? Consequatur quo, sint nisi neque earum porro, amet doloremque, modi consectetur alias dignissimos debitis quae.</p>

              <a mdbBtn color="dark" class="waves-light btn-sm" mdbWavesEffect
              (click)="toggleUser('student')"
              ><i class="fa fa-clone left"></i>Start as a Student</a>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-image mb-3 animated slideInRight" style="background-image: url(https://images.pexels.com/photos/1181398/pexels-photo-1181398.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">        
          <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
            <div>
              <h3 class="card-title pt-2"><strong>I'm a Tutor</strong></h3>
              
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in debitis nulla inventore id dolorem voluptas qui cupiditate beatae repellendus, iure non rem deleniti repudiandae eaque optio assumenda a. Repudiandae!</p>
              
                <a mdbBtn color="dark" class="waves-light btn-sm" mdbWavesEffect
              (click)="toggleUser('teacher')"
              ><i class="fa fa-clone left"></i>Start as a Tutor</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>