<div class="p-3 container">
  <div class="border testimonial-card">

    <div class="card-up lighten-4 modal-header" style="height:80px;">
      <strong> <b>
          <h3 class="p-1">{{tutor.name}}</h3>
        </b> </strong>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="avatar mx-auto white pb-2 pt-4 pl-4 pr-4">
            <div class="view overlay">
              <img [src]="tutor.imgUrl" class="rounded-circle hoverable" height="170" width="170">
              <div class="mask flex-center rgba-black-light rounded-circle" style="height:170px; width:170px;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pb-2 text-center">
            <app-request class="mr-4" [teacherId]="tutor.email"></app-request>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7 pr-2">
        <div class="container border p-4"  style="overflow-y: scroll; height:436.48px;">
          <h5 class="grey-text"><b> Reviews </b> </h5>
          <hr>
          <div *ngFor="let item of reviews">
            <app-review [studentName]="item.student" [date]="item.date" [content]="item.content" [studentImgUrl]="item.image"></app-review>
          </div>

        </div>

      </div>

      <div class="col-md-5">
        <div class="container border pt-3">
          <app-details [fname]="tutor.fname" [lname]="tutor.lname" [mobile]="tutor.mobile" [price]="tutor.price"
            [location]="tutor.location" [subject]="tutor.subject" [available]="tutor.time"></app-details>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>


<app-achievement *ngIf="tutor.email"
  [email]="tutor.email"
  [image]="tutor.imgUrl"
></app-achievement>

<p
  class="mt-5"
></p>

<hr class="mt-5 container"> 

<app-rating *ngIf="tutor.rating"
  [tutor]="tutor.email"
  [rating]=tutor.rating
></app-rating>