<div class="container p-4">
    <div class="card p-4">
      <div class="row">
        <div class="col-md-4">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
          </div>
        </div>
        <div class="col-md-5">
          <div class="container">
            <div class="row">
              <h3>Name</h3>
            </div>
            <div class="row">
              <h5>email</h5>
            </div>
            <div class="row">
              <h5>Mobile</h5>
            </div>
            <div class="row">
              <h5>subjects</h5>
            </div>
            <div class="row">
              <h5>Location</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <app-request></app-request>
        </div>
      </div>
      <div class="card-body">
        <hr>
      </div>
    </div>
  </div>