<header class="intro-header">

    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../../../../assets/images/background.jpeg');">
      <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
          <div class="row pt-5 mt-3 w-100">
            <div class="col-md-12">
              <div class="text-center animated slideInLeft">
                <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown display-4" data-wow-delay="0.3s"><strong>eTutor</strong></h2>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="font-up mb-2 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Find your Tutor Today</strong></h5>
                <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" routerLink="/login"
                  mdbWavesEffect>Start</a>
                <!-- <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" routerLink="/register"
                  mdbWavesEffect>Register</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </header>