<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-3 border full-width">
    <links>
        <ul class="navbar-nav mr-auto">
            <model-location></model-location>
            <model-subject></model-subject>
        </ul>
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form">
                    <i class="fa fa-search"></i>
                <input class="form-control mr-sm-2" type="text" placeholder="Search tutor by name" name="searchByName" (keyup.enter)="searchByName()" [(ngModel)]="tName">
            </div>
        </form>
    </links>
</mdb-navbar>











