

  .bg {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg");
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }